.widgetRow {
    -webkit-column-count: 3;
    -webkit-column-gap: 15px;
    -moz-column-count: 3;
    -moz-column-gap: 15px;
    column-count: 3;
    column-gap: 15px;
}

.widget {
    page-break-inside: avoid;
    margin: 0px 0px 15px 0px;
    max-width: calc(100vw / 3);
    height: auto;
    font-family: var(--font-geist-sans);
    border: 1px solid var(--dark-gray);
    border-radius: 8px;
}

@media only screen and (max-width: 768px) {
    .widgetRow {
        -webkit-column-count: 1;
        -webkit-column-gap: 15px;
        -moz-column-count: 1;
        -moz-column-gap: 15px;
        column-count: 1;
        column-gap: 15px;
    }

    .widget {
        max-width: 100%;
    }
}